<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Prague Air Pollution</title>
    <meta charset="UTF-8">
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
        }
        tr:hover {background-color: #f8f8f8;}
        tr:nth-child(even) {background-color: #f2f2f2;}
        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Prague Air Pollution - current status</h1>
    <p>Data from <a href="https://golemioapi.docs.apiary.io/">golemio.cz</a>. Source code on <a href="https://bitbucket.org/vasekch/interview-demo/">https://bitbucket.org/vasekch/interview-demo/</a></p>
    <p><em>generated at {{ now.strftime('%Y-%m-%d %H:%M:%S %Z') }} from <a href="./input.json">input.json</a></em></p>
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>NO<sub>2</sub></th>
        <th>CO</th>
        <th>O<sub>3</sub></th>
        <th>PM10</th>
        <th>PM2.5</th>
        <th>Last updated</th>
    </tr>
    {% for item in data %}
    <tr>
        <td><strong>{{ item.id or 'N/A' }}</strong></td>
        <td>{{ item.name or '' }}</td>
        <td>{% if item.measurements.NO2 %}{{ item.measurements.NO2.value }}{% else %}-{% endif %}</td>
        <td>{% if item.measurements.CO %}{{ item.measurements.CO.value }}{% else %}-{% endif %}</td>
        <td>{% if item.measurements.O3 %}{{ item.measurements.O3.value }}{% else %}-{% endif %}</td>
        <td>{% if item.measurements.PM10 %}{{ item.measurements.PM10.value }}{% else %}-{% endif %}</td>
        <td>{% if item.measurements.PM2_5 %}{{ item.measurements.PM2_5.value }}{% else %}-{% endif %}</td>
        <td>{{ item.updated_at }}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>
